<div class="hero">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold mb-8 whitespace-nowrap">RUNEQ HELP MASTER.</h1>
      <p class="text-xl mb-8">RUNTEQのヘルプページ、あなたはどのくらい識っている？</p>
      <%= link_to 'クイズを始める', new_quiz_path, class: "btn btn-primary btn-lg"%>
    </div>
  </div>
</div>